.search-bar {
    display: flex;
    padding-top: 5rem;
    flex-direction: row;
    align-items:center;
    text-align: left;
    max-width: 50%;
    margin: 0 0 2rem 0;
}

.search-bar input {
    width: 300px;
    padding: .77rem 0;
    border: 1px solid #fff;
    color: #010c3f;
    font-size: 1rem;
    flex: auto;
    text-indent: 0.7rem;
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}

.search-bar input:focus {
    outline: none;
}

.search-button {
    cursor: pointer;
    width: 8.1rem;
    padding: 0.77rem 0;
    background-color: transparent;
    text-align: center;
    font-size: 1rem;
    transition: border-color .25s, color .25s;
    border: 1px solid #424b5b;
    border-left: none;
    color: #fff;
    font-weight: 500;
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
    flex: auto;
}

.search-button:hover {
    color: #7ee787;
    border-color: #7ee787;
}

